body {
  font-family: Arial;
  background: white;
  text-align: center;
}

button {
  width: 90%;
  font-size: 30px;
  margin: 20px;
  padding: 40px;
  border: 4px solid black;
  border-radius: 20px;
  background: white;
}
